<div class="product-index">
  <div class="row">
    <ul class="tab">
    <% Category.all.each do |category| %>
      <li>
       <%= link_to(category.name, products_path(category: category.name)) %>
     </li>
     <% end %>
   </ul>
   <br/>

   <div class="row text-center">
     <% @products.each do |product| %>
     <div class="col-lg-4 col-md-6 col-sm-12 ">
       <div class="card">
         <div class="view overlay hm-white-slight">
           <%= link_to product_path(product) do %>
             <% if product.image.present? %>
               <%= image_tag(product.image.thumb.url, class: "thumbnail") %>
             <% else %>
               <%= image_tag("http://placehold.it/200x200&text=No Pic", class: "thumbnail") %>
             <% end %>
           <% end %>
         </div>
          <div class="card-block">
            <h3><%= product.title %></h3>
            <p class="card-text">
              ￥ <%= product.price %>
            </p>
            <a href="/" class="btn btn-info">Button</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>

  </div>
</div>
